@use "./_mixin" as mx;
@use "./base" as *;

.about {

    header {
        background-color: transparent;
    }


    // ページ全体共通
    section {
        margin-bottom: 120px;

        @include mx.tb {
            margin-bottom: 80px;
        }

        @include mx.sp {
            margin-bottom: 60px;
        }
    }

    .section-title {
        margin-block: 5px 50px;
        transition: opacity 1.2s ease, transform 1.2s ease;

        @include mx.tb {
            margin-block: 5px 30px;
        }

        span {
            font-size: 1rem;
            margin-left: 20px;
            position: relative;
            display: block;

            &:before {
                content: "";
                position: absolute;
                left: -15px;
                bottom: 50%;
                transform: translateY(50%);
                width: 8px;
                height: 8px;
                background-color: $yellow;
                border-radius: 50%;
            }
        }
    }

    .shadow-box {
        background: $white;
        border-radius: 20px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
        padding: 40px;
        margin-top: 40px;


        @include mx.sp {
            padding: 20px;
        }
    }

    .back-text {
        background-color: $blue;
        display: inline-block;
        padding: 8px;
        color: $white;
    }

    .box-title {
        margin-block: 0 15px;
    }

    video {
        position: fixed;
        left: 0;
        top: 0;
        z-index: -100;
        opacity: 0.4;
    }

    // 各セクション
    #fv {
        position: relative;
        margin-top: 130px;

        @include mx.sp {
            margin-top: 50px;
        }

        .section-title__en {
            font-size: 150px;
            font-weight: 900;
            color: $light-grey;
            position: absolute;
            left: -10px;
            bottom: -100px;
            z-index: 0;

            @include mx.tb {
                left: 30px;
            }
            @include mx.sp {
                font-size: 80px;
                left: 10px;
                bottom: -50px;
            }
        }

        .section-title {
            color: $black;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                bottom: -10px;
                width: 150px;
                height: 2px;
                background-color: $yellow;
                border-radius: 2px;

                @include mx.tb {
                    left: 1%;
                }
            }
        }
    }

    #moya {
        background-color: $light-grey;
        border-radius: 15px;
        padding: 60px 70px 25px;
        margin-bottom: 80px;
        text-align: center;
        position: relative;

        @include mx.tb {
            padding: 25px;
            margin-inline: 20px;
        }

        .box-title {
            margin-bottom: 30px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 50px 90px 0px 90px;
            border-color: $blue transparent transparent transparent;

            @include mx.sp {
                border-width:30px 50px 0px 50px;
            }


        }
    }

    #ideal {
        text-align: center;
        margin-block: 60px;

        ul {
            background-color: $light-yellow;
            box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.15);
            padding: 30px 180px;
            position: relative;

            @include mx.sp {
                padding: 25px;
            }

            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 60px 380px 0 380px;
                border-color: $light-yellow transparent transparent transparent;

                @include mx.sp {
                    border-width: 40px 170px 0 170px;
                }
            }

            li {
                text-align: left;
                display: flex;
                align-items: center;
                margin-top: 20px;

                .message {
                    margin-block: 0;
                }

                span {
                    img {
                        width: 40px;
                        margin-right: 20px;
                    }
                }
            }
        }
    }

    #power {
        text-align: center;
        margin-top: 100px;

        .yellow {
            font-size: 2.5rem;
            background-color: $yellow;
            margin-top: 0;
        }

        ul {
            margin-top: 50px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 0px 40px;
            padding-inline: 80px;


            @include mx.sp {
                gap: 0px 10px;
            }
        }
    }

    #about {
        padding: 50px 100px;

        @include mx.tb {
            padding: 40px 30px 130px;
            margin-inline: 20px;
        }

        @include mx.sp {
            padding: 40px 10px 150px;
        }

        .flex-box {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px 10px;

            @include mx.sp {
                grid-template-columns: 1fr;
                justify-items: center;
            }

            .flex-left {
                width: 84%;

                .circle {
                    display: flex;
                    color: $white;
                    text-align: center;
                    position: relative;

                    .circle-left,
                    .circle-right {
                        flex: 1;
                        /* 等分して横並び */
                        aspect-ratio: 1;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        color: #fff;
                        background-color: #acc8d8;
                    }

                    .circle-right {
                        background-color: #98b3c2;
                    }

                    //真ん中の「×」
                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        left: 50%;
                        top: 44%;
                        width: 38px;
                        height: 2px;
                        background: $white;
                        transform-origin: center;
                        transform: translate(-50%, -50%) rotate(45deg);
                        border-radius: 2px;
                    }

                    &::after {
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }
                }

                .shadow-box {
                    padding: 5px 20px 10px;
                    margin-top: 10px;
                    border-radius: 10px;
                    position: relative;

                    .text {
                        border-bottom: $yellow 1px solid;
                        font-weight: 700;
                    }

                    //真ん中の「＋」
                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        left: 50%;
                        top: -18%;
                        width: 30px;
                        height: 5px;
                        background: $blue;
                        transform-origin: center;
                        transform: translate(-50%, -50%);
                        border-radius: 2px;
                    }

                    &::after {
                        transform: translate(-50%, -50%) rotate(-90deg);
                    }
                }
            }

            .flex-right {
                width: 90%;
                position: relative;

                .message {
                    font-weight: 600;
                    letter-spacing: 0.2em;
                    line-height: 1.7;
                }

                .small {
                    line-height: 2.2;
                }

                .button {
                    position: absolute;
                    right: 0;
                    margin-top: 15px;
                    display: grid;

                    @include mx.sp {
                        margin-top: 0px;
                    }

                    button {
                        width: 225px;
                        background: $white;
                        border: $black 1px solid;
                        border-radius: 50px;
                        margin-top: 10px;
                        padding: 10px 25px;
                        transition: all 0.5s ease;
                        display: inline;

                        @include mx.sp {
                            width: 200px;
                        }

                        &:hover {
                            background-color: $yellow;
                            border: $white 1px solid;

                            a {
                                color: $white;
                            }
                        }

                        @include mx.sp {
                            padding: 10px 25px;
                        }

                    }
                }

            }
        }
    }

    #curriculum {
        .step {
            display: grid;
            grid-template-columns: 25% 75%;
            gap: 5px 20px;
            margin-bottom: 40px;

            @include mx.sp {
                grid-template-columns: 25% 75%;
                gap: 7px;
                padding: 0;
            }

            .month {
                padding: 50px 0;
                text-align: center;
                position: relative;
                color: $white;
                border-radius: 15px 15px 0px 0px;
                background-color: #c8d6df;

                @include mx.tb {
                    padding: 40px 0;
                }

                @include mx.sp {
                    padding: 30px 0;
                    font-size: 1.2rem;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 30px 95px 0px 95px;
                    border-color: #c8d6df transparent transparent transparent;
                    z-index: 5;

                    @include mx.tb-1100{
                        border-width: 15px 90px 0px 90px;
                    }
                    @include mx.tb {
                        border-width: 15px 75px 0px 75px;
                    }

                    @include mx.sp-650{
                        border-width: 15px 50px 0px 50px;
                    }
                    @include mx.sp {
                        border-width: 15px 40px 0px 40px;
                    }
                }

                // 背景と下の三角をまとめて上書き（グラデーション風に）
                @for $i from 2 through 5 {
                    &:nth-of-type(#{$i}) {
                        $colors: (
                            #B7CEDB,
                            #acc8d8,
                            #98b3c2,
                            $blue
                        );

                    $z: (
                        4,
                        3,
                        2,
                        1
                    );

                background: nth($colors, $i - 1);
                z-index: nth($z, $i - 1);

                &::after {
                    border-color: nth($colors, $i - 1) transparent transparent transparent;
                    z-index: nth($z, $i - 1);
                }
            }
        }

    }

    .content {
        border-bottom: 1px solid #ccc;
        padding: 5px 10px;

        @include mx.sp {
            margin-left: 0;
        }

        &:first-of-type {
            border-top: 1px solid #ccc;
        }

        span {
            @include mx.sp {
                padding: 2px 10px;
                font-size: 1.5rem;
            }
        }

        h3 {
            @include mx.sp {
                font-size: 1.4rem;
                margin-block: 10px;
            }
        }

        .small {
            margin-top: 0;
        }
    }

    .label {
        display: inline-block;
        background: $blue;
        color: #fff;
        font-weight: 700;
        padding: 4px 10px;
        margin-right: 8px;
    }

    h3 {
        display: inline-block;
        font-weight: 700;
    }
}
}

#price {
    .shadow-box {
        text-align: center;
        position: relative;
        padding-inline: 100px;

        @include mx.tb {
            padding: 40px 20px 30px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 20px;
            background-color: $blue;
            border-top-left-radius: 24px;
            border-top-right-radius: 24px;
        }

        .box-title {
            border-bottom: 2px solid $yellow;
            display: inline-block;
            margin-bottom: 0;
        }

        .middle {
            font-size: 3.75rem;
            font-weight: 700;
        }

        ul {
            text-align: left;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            margin-block: 40px;

            @include mx.sp {
                grid-template-columns: 1fr;
                gap: 0px;
            }

            li {
                position: relative;
                margin-left:     80px;


            @include mx.tb {
                margin-left:     40px;
            }

                &:before {
                    content: "";
                    position: absolute;
                    left: -30px;
                    bottom: 50%;
                    transform: translateY(50%);
                    width: 15px;
                    height: 15px;
                    background-color: $yellow;
                    border-radius: 50%;
                }
            }
        }

        .small {
            text-align: left;
            font-size: 1.2rem;
            opacity: 0.5;
        }
    }
}

#works {

    .flip-slider__inner {
        padding-block: 80px;
        perspective: 1000px;

        a {
            display: block;
            padding: 20px;
        }

        .slick-slide {
            padding: 0 20px;

            &:nth-child(odd) {
                padding-top: 40px;
            }

            &:nth-child(even) {
                padding-top: -40px;
            }
        }
    }

    .slider-inner {
        position: relative;
        width: 100%;
        aspect-ratio: 4 / 3;
        transform-style: preserve-3d;
        transition: transform 0.6s ease;
        cursor: pointer;

        &:hover {
            transform: rotateY(180deg)
        }

        .front,
        .back {
            position: absolute;
            backface-visibility: hidden;
            border-radius: 10px;
            inset: 0;
            overflow: hidden;

            img {
                height: 100%;
                display: block;
            }
        }

        .back {
            transform: rotateY(180deg);
        }
    }

    .viewmore {
        display: flex;
        flex-direction: row-reverse;

        a {
            display: block;
            padding: 10px 35px;
            border-radius: 50px;
            border: 1px solid $black;
            transition: all 0.5s ease;
            letter-spacing: 0.15em;

            &:hover {
                background-color: $yellow;
                color: $white;
                border: 1px solid $white;
            }
        }
    }
}
}