@use './_mixin' as mx;
@use './base' as *;

.company {

    header {
        background-color: transparent;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 4.0rem;
        margin-bottom: 150px;

        @include mx.tb {
            flex-direction: column;
            margin-bottom: 120px;
        }

        @include mx.sp {
            gap: 1.5%;
            margin-bottom: 60px;
        }
    }

    .flex-left {
        width: 30%;

        @include mx.tb {
            width: 100%
        }
    }

    .flex-right {
        width: 70%;

        @include mx.tb {
            width: 100%
        }
    }

    video {
        position: fixed;
        left: 0;
        top: 0;
        z-index: -100;
        // opacity: 0.4;
    }

    #fv {
        position: relative;
        padding-block: 50px;
        margin-top: 80px;

        @include mx.tb {
            margin-block: 5px 30px;
            padding-block: 0;
        }

        .section-title__en {
            font-size: 150px;
            font-weight: 900;
            color: $light-grey;
            position: absolute;
            left: -10px;
            bottom: -20px;
            z-index: 0;

            @include mx.tb-1100 {
                font-size: 120px;
                left: 10px;
                bottom: 5px;
            }

            @include mx.tb {
                font-size: 100px;
                left: 10px;
                bottom: -30px;
            }

            @include mx.sp-650 {
                font-size: 70px;
                left: 10px;
                bottom: -20px;
            }

            @include mx.sp {
                font-size: 50px;
                left: 10px;
                bottom: -10px;
            }
        }

        .section-title {
            color: $black;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                bottom: -10px;
                width: 100px;
                height: 2px;
                background-color: $yellow;
                border-radius: 2px;

                @include mx.tb {
                    left: 1%;
                }
            }
        }
    }

    // ページ全体共通
    .flex-left {
        .section-title {
            margin-block: 15px 5px;
        }

        span {
            font-size: 1.2rem;
            margin-left: 20px;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: -15px;
                bottom: 50%;
                transform: translateY(50%);
                width: 8px;
                height: 8px;
                background-color: $yellow;
                border-radius: 50%;
            }
        }
    }

    ul {
        padding-left: 0;
    }

    #member {
        .flex-right {
            ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                margin-top: 40px;
                gap: 32px;
                padding: 30px;

                @include mx.tb-1100 {
                    grid-template-columns: 1fr 1fr;
                    gap: 80px 25px;
                    padding: 40px;
                }

                @include mx.sp {
                    grid-template-columns: 1fr;
                    gap: 80px;
                    padding: 20px;
                }

                .items {

                    @include mx.sp {
                        width: 100%;
                    }

                    .pic {
                        border-radius: 5px;
                        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
                        margin-bottom: 10px;
                    }

                    .position {
                        @include mx.sp {
                            font-size: 1.2rem;
                        }
                    }

                    .name {
                        margin-block: 0;
                    }

                }
            }
        }
    }

    #sns {
        .flex-right {
            ul {

                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 5%;
                    margin-bottom: 62px;

                    .icon {
                        width: 30%;


                        img {
                            height: 120px;
                            max-width: 160px;
                            object-fit: contain;
                        }
                    }

                    .text {
                        width: 70%;


                        a {
                            padding: 4px 12px;
                            background-color: $blue;
                            border-radius: 3px;
                            color: $white;
                            border: 2px solid transparent;
                            transition: all 0.5s ease;

                            &:hover {
                                background-color: $white;
                                color: $blue;
                                border: 2px solid $blue;
                            }
                        }
                    }
                }
            }
        }
    }

    #media {
        ul {
            li {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                gap: 5%;

                .thumnail {
                    width: 30%;
                }

                .info {
                    width: 70%;

                    .text {
                        margin-top: 0;
                    }

                    a {
                        padding: 4px 12px;
                        background-color: $blue;
                        border-radius: 3px;
                        color: $white;
                        border: 2px solid transparent;
                        transition: all 0.5s ease;

                        &:hover {
                            background-color: $white;
                            color: $blue;
                            border: 2px solid $blue;
                        }
                    }
                }
            }
        }
    }

    #overview {
        .company-table {
            margin-top: 24px;
            width: 70%;
            border-collapse: collapse;
            border-top: 1px solid $border-grey;
            border-bottom: 1px solid $border-grey;

            @include mx.tb {
                width: 100%;
            }

            tr {
                border-bottom: 1px solid $border-grey;
            }


            th,
            td {
                text-align: left;
                padding: 3rem 1rem;
                vertical-align: top;
            }

            th {
                width: 30%;
                font-weight: 400;
            }

            td {
                line-height: 1.6;
            }

            a {
                text-decoration: underline;
                word-break: break-all;
            }
        }
    }
}