@use "./_mixin" as mx;
@use "./base" as *;

body.page-meetup {
  // header {
  //   background-color: transparent;
  // }

  #fv {
    position: relative;
    padding-block: 50px;
    margin-block: 80px;

    @include mx.tb {
      margin-block: 100px 50px;
      padding: 0 20px;
    }

    .section-title__en {
      font-size: 150px;
      font-weight: 900;
      color: $light-grey;
      position: absolute;
      left: -10px;
      bottom: 0px;
      z-index: 0;

      @include mx.tb-1100 {
        left: 20px;
      }

      @include mx.tb {
        font-size: 100px;
        left: 10px;
        bottom: -40px;
      }

      @include mx.sp-650 {
        font-size: 80px;
      }

      @include mx.sp {
        font-size: 50px;
        bottom: -20px;
      }
    }

    .section-title {
      color: $black;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 100px;
        height: 2px;
        background-color: $yellow;
        border-radius: 2px;

        @include mx.tb {
          left: 1%;
        }
      }
    }
  }

  .meetup-list {

    .wrapper {
      margin-bottom: 0;

      @include mx.tb-1100 {
        padding: 20px;
      }

      .meetups {
        width: 100%;

        .meetup-item {
          background-color: $blue;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: $white;
          border-radius: 20px;
          margin-bottom: 15px;
          padding: 40px 50px;

          @include mx.tb {
            flex-direction: column;
          }

          .left {
            width: 30%;
            margin-right: 20px;

            @include mx.tb {
              width: 100%;
              margin-right: 0;
              margin-bottom: 30px;
            }

            .section-title {
              margin-bottom: 10px;

              .open {
                display: block;
                font-size: 3.5rem;

                @include mx.tb {
                  font-size: 3rem;
                }
              }

              .small {
                position: relative;
                display: block;
                font-size: $fs-small;
                margin-top: 10px;
                margin-left: 20px;

                &::before {
                  width: 8px;
                  height: 8px;
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: -14px;
                  transform: translateY(-50%);
                  background-color: $yellow;
                  border-radius: 50%;
                }
              }
            }

            .comment {
              width: 90%;
              color: $black;
              background: $light-grey;
              border-radius: 20px;
              position: relative;
              padding: 15px 20px;
              margin-inline: auto;

              @include mx.sp {
                width: 100%;
              }

              &::after {
                content: "";
                position: absolute;
                right: -53px;
                bottom: 30px;
                border: 15px solid transparent;
                border-left: 50px solid $light-grey;
                transform: rotate(-20deg);

                @include mx.tb {
                  transform: rotate(100deg);
                  right: 50px;
                  bottom: -30px;
                }
              }

              dd {
                text-align: right;
                font-size: $fs-small;
                margin-left: auto;
              }
            }
          }

          .right {
            width: 60%;
            height: 100%;
            display: flex;

            @include mx.tb {
              width: 90%;
            }

            @include mx.sp {
              width: 100%;
            }
            
            img {
              width: 100%;
              object-fit: cover;
              border-radius: 5px;
              box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.25);
            }
          }
        }
      }

      .pagination {
        text-align: center;
        margin-top: 50px;

        .prev,
        .page,
        .page-numbers,
        .next {
          width: 40px;
          height: 40px;
          display: inline-block;
          line-height: 40px;
          background-color: $grey;
          border-radius: 50%;
          transition: .3s ease;

          &:hover {
            background-color: rgba(219, 132, 5, .7);
          }
        }

        .current {
          background-color: $yellow;
          color: $white;
        }
      }
    }
  }
}