$tb-1100: 1100px;
$tb: 900px;
$sp: 425px;

@mixin tb-1100 {
    @media (max-width: $tb-1100) {
        @content;
    }
}

@mixin tb {
    @media (max-width: $tb) {
        @content;
    }    
}

@mixin sp {
    @media (max-width: $sp) {
        @content;
    }    
}