@use './_mixin' as mx;
@use './_base' as *;

.tokushoho {

    header {
        background-color: transparent;
    }

    video {
        position: fixed;
        left: 0;
        top: 0;
        z-index: -100;
    }

    #fv {
        position: relative;
        padding-block: 50px;
        margin-top: 80px;
        margin-bottom: 0;

        @include mx.tb {
            margin-block: 5px 30px;
            padding-block: 25px;
        }

        .section-title__en {
            font-size: 150px;
            font-weight: 900;
            color: $light-grey;
            position: absolute;
            left: -10px;
            bottom: -10px;
            z-index: 0;

            @include mx.tb-1100 {
                font-size: 120px;
                left: 60px;
                bottom: 5px;
            }

            @include mx.tb {
                font-size: 100px;
                left: 70px;
                bottom: -10px;
            }

            @include mx.sp-650 {
                font-size: 70px;
                left: 10px;
                bottom: 0px;
            }

            @include mx.sp {
                font-size: 50px;
                left: 10px;
                bottom: 10px;
            }
        }

        .section-title {
            color: $black;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                bottom: -10px;
                width: 370px;
                height: 2px;
                background-color: $yellow;
                border-radius: 2px;
                
                @include mx.tb {
                    left: 1%;
                    width: 320px;
                }

                @include mx.sp {
                    left: 1%;
                    width: 270px;
                }
            }
        }
    }

    #overview {
        .company-table {
            margin-top: 24px;
            width: 90%;
            border-collapse: collapse;
            border-bottom: 1px solid $border-grey;

            @include mx.tb {
                width: 100%;
            }

            @include mx.sp {
                display: block;
                border-bottom: none;
            }

            tr {
                border-bottom: 1px solid $border-grey;

                @include mx.sp {
                    display: block;
                    margin-bottom: 0;
                }
            }


            th,
            td {
                text-align: left;
                padding: 2.4rem 1rem;
                vertical-align: top;

                @include mx.sp {
                    display: block;
                    width: 100%;
                }
            }

            th {
                width: 30%;
                font-weight: 400;

                @include mx.sp {
                    width: 100%;
                    padding-bottom: 1rem;
                    border-bottom: none;
                    font-weight: bold;
                }
            }

            td {
                line-height: 1.6;

                @include mx.sp {
                    padding-top: 0;
                    padding-bottom: 2.4rem;
                }
            }

            a {
                text-decoration: underline;
                word-break: break-all;
            }
        }
    }
}