@use "./_mixin" as mx;
@use "./base" as *;

#loading {
  //鈴木追加
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 9999;

  img {
    width: 500px;
  }
}

.video-bg {
  //鈴木追加
  position: fixed;
  left: 0;
  top: 0;
  z-index: -100;
  opacity: 0.4;
}

header {
  //鈴木追加
  background-color: $white;
}

.fv {
  width: 100%;
  height: calc(100vh - 100px);
  overflow: hidden;
  position: relative;
  background-color: $white; //鈴木追加

  video {
    width: 92%;
    height: 100%;
    display: block;
    border-radius: 20px;
    object-fit: cover;
    margin-inline: auto;
    z-index: -1;
    background-color: $white;
  }

  .titles {
    font-size: 5.5rem;
    font-weight: $fw-medium;

    @include mx.tb {
      font-size: 4rem;
    }

    .title {
      display: inline-block;
      background-color: $white;
      letter-spacing: 0.15rem;
      padding: 20px 50px;

      .yellow {
        color: $yellow;
      }

      &:nth-child(1) {
        position: absolute;
        top: 0px;
        left: 20px;
        border-radius: 0 0 20px 0;

        @include mx.tb {
          left: 10px;
        }
      }

      &:nth-child(3) {
        position: absolute;
        top: 130px;
        left: 20px;
        border-radius: 0 0 20px 0;

        @include mx.tb {
          top: 100px;
          left: 10px;
        }
      }
    }
  }

  .link {
    position: absolute;
    right: 20px;
    bottom: 0;
    background: $white;
    border-radius: 20px 0 0 0;
    padding: 20px 90px 20px 50px;

    @include mx.tb {
      right: 10px;
    }

    .line {
      font-size: 3rem;
      color: $white;
      background: $yellow;
      box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.25);
      border-radius: 50px;
      transition: 0.4s ease;
      padding: 10px 40px;

      @include mx.tb {
        font-size: 2rem;
      }

      &:hover {
        transform: translateY(-4px);
        box-shadow: 2px 4px 15px 2px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.purpose {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); //鈴木追加

  .scroll-divider {
    position: absolute;
    top: -60px;
    z-index: -1;

    .scroll-text {
      color: $light-grey;
      font-size: 200px;
      font-weight: 700;
      opacity: 0.4;
      white-space: nowrap;
      animation: marquee 25s linear infinite;
    }
  }

  .section-title {
    text-align: center;
    margin-bottom: 50px;

    span {
      display: inline-block;
      font-size: $fs-small;
      position: relative;

      &::before {
        width: 8px;
        height: 8px;
        content: "";
        position: absolute;
        top: 50%;
        left: -14px;
        transform: translateY(-50%);
        background-color: $yellow;
        border-radius: 50%;
      }
    }
  }

  .purpose-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0;

    @include mx.tb {
      grid-template-columns: repeat(1, 1fr);
    }

    li {
      position: relative;
      transition: 0.4s ease;

      @include mx.tb {
        width: 70%;
        margin-inline: auto;
      }

      @include mx.tb {
        width: 100%;
      }

      &:hover {
        transform: scale(1.02);
      }

      a {
        display: flex;
        align-items: center;
        background-color: $white;
        border-radius: 20px;
        box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.25);
        padding: 10px;

        img {
          width: 15%;
          object-fit: cover;
          margin-right: 10px;
        }

        .box-title {
          width: 85%;

          .en {
            display: block;
            font-size: $fs-small;
          }
        }

        .arrow {
          width: 30px;
          height: 30px;
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 10px;
          border: 1px solid $black;
          border-radius: 50%;

          &::after {
            width: 10px;
            height: 1px;
            background-color: $black;
            content: "";
            position: absolute;
            top: 36%;
            right: 8px;
            transform: rotate(45deg);
          }

          &::before {
            width: 10px;
            height: 1px;
            background-color: $black;
            content: "";
            position: absolute;
            right: 8px;
            bottom: 36%;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}


  .before-after {
    .wrapper {
      margin-bottom: 100px;
    }

    .list {
      display: flex;
      justify-content: space-between;

      @include mx.tb {
        width: 70%;
        flex-direction: column;
        margin-inline: auto;
      }

      @include mx.sp {
        width: 100%;
      }

      li {
        position: relative;
        flex: 1;
        background-color: $white;
        box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 10px 15px;
        margin-right: 20px;

        @include mx.tb {
          margin-right: 0;
          margin-bottom: 20px;
        }

        &:last-child {
          margin-right: 0;
        }

        img {
          height: 200px;
          object-fit: cover;
          border-radius: 5px;
        }

        .middle {
          width: 100%;

          .label {
            display: block;
            font-size: $fs-small;
          }

          .text {
            display: inline-block;
            border-bottom: 1px solid $yellow;
          }
        }

        .right {
          text-align: right;
        }

        .arrow {
          width: 50px;
          height: 30px;
          position: absolute;
          left: 10px;
          bottom: 60px;

          img {
            height: 100%;
            object-fit: cover;
          }
        }

      .small {
        text-align: center;
      }
    }
  }
}
.reason {
  padding-bottom: 100px;

    .wrapper {
      margin-bottom: 0;
    }

    .section-title {
      span {
        position: relative;
        display: block;
        font-size: $fs-small;
        margin-top: 10px;
        margin-left: 20px;

        &::before {
          width: 8px;
          height: 8px;
          content: "";
          position: absolute;
          top: 50%;
          left: -14px;
          transform: translateY(-50%);
          background-color: $yellow;
          border-radius: 50%;
        }
      }
    }

    .list {
      margin-top: 50px;

      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;

        @include mx.tb {
          flex-direction: column;
        }

        .left {
          width: 30%;
          margin-right: 15px;

          @include mx.tb {
            width: 50%;
          }
        }

        .right {
          width: 70%;

          @include mx.tb {
            width: 100%;
          }

        .box-title {
          color: $yellow;
        }
      }
    }
  }
}


#flow,
#teacher,
#works,
#comparison,
#faq {
  .section-title {
    margin-bottom: 0;
  }

  .section-title,
  span,
  .text,
  .name,
  .words {
    color: $black;
  }

  .section-title-deco {
    font-size: 1.2rem;
    margin-left: 20px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: -15px;
      bottom: 50%;
      transform: translateY(50%);
      width: 8px;
      height: 8px;
      background-color: $yellow;
      border-radius: 50%;
    }
  }
}

#flow {
  background-color: $blue;
  margin-top: 100px;
  padding-block: 60px 40px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

  @include mx.sp {
    padding-block: 60px 0;
    margin-top: 0;
  }

  .wrapper {

    @include mx.tb {
      margin-bottom: 40px;
    }

    .section-title,
    span,
    .text-top {
      color: $white;
    }
  }


  ul {
    background-color: $grey;
    border-radius: 8px;
    padding: 32px 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-top: 40px;
    gap: 24px;

    @include mx.tb {
      grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
      padding: 32px 40px;
      margin-inline: 20px;
    }

    @include mx.sp {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      padding: 32px 40px;
      margin-inline: 0 20px 0 20px;
    }

    li {
      .card {
        background-color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px 16px;
        border-radius: 8px;

        .middle {
          margin-bottom: 0;
        }

        img {
          max-width: 80px;
          max-height: 80px;
        }
      }
    }
  }

  .scroll-divider {
    overflow: hidden;
    background: transparent;

    .scroll-text {
      color: $white;
      font-size: 200px;
      font-weight: 700;
      opacity: 0.08;
      white-space: nowrap;
      animation: marquee 12s linear infinite;

      @include mx.sp {
        font-size: 100px;
      }
    }
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

#teacher {
  background-color: $blue;
  padding-block: 10px 40px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  .teacher-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 40px;
    gap: 24px;

    @include mx.tb {
      gap: 50px 25px;
    }

    @include mx.sp {
      gap: 80px;
    }

    .items {
      position: relative;

      .teacher_more_button {
        position: absolute;
        right: 0;
        bottom: -40px;
        color: $white;
        display: block;
        width: 100%;

        &:hover {
          color: $yellow;
        }

        span {
          margin-left: 75%;
          color: $white;
        }

      }

      img {
        line-height: 0;
      }
    }
  }

  .section-title,
  span,
  .text,
  .name,
  .words {
    color: $white;
  }
}

#works {
  padding-block: 100px;

  @include mx.tb {
    padding-block: 40px;
  }

  .wrapper {

    @include mx.sp {
      margin-bottom: 40px;
    }

    .section-title {
      @include mx.sp {
        margin-bottom: 0;
      }
    }
  }

  .flip-slider__inner {
    perspective: 1000px;

    a {
      display: block;
      padding: 20px;
    }

    .slick-slide {
      padding: 0 20px;

      &:nth-child(odd) {
        padding-top: 40px;
      }

      &:nth-child(even) {
        padding-top: -40px;
      }
    }
  }

  .slider-inner {
    position: relative;
    width: 100%;
    aspect-ratio: 4 / 3;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
    cursor: pointer;

    &:hover {
      transform: rotateY(180deg);
    }

    .front,
    .back {
      position: absolute;
      backface-visibility: hidden;
      border-radius: 10px;
      inset: 0;
      overflow: hidden;

      img {
        height: 100%;
        display: block;
      }
    }

    .back {
      transform: rotateY(180deg);
    }
  }

  .viewmore {
    display: flex;
    flex-direction: row-reverse;

    @include mx.tb {
      margin-bottom: 0;
    }

    a {
      display: block;
      padding: 5px 20px;
      border-radius: 50px;
      border: 1px solid $black;

      &:hover {
        background-color: $yellow;
        color: $white;
      }
    }
  }
}

#comparison {
  background-color: $white;
  z-index: 0;
  position: relative;
  padding-bottom: 80px;

  @include mx.sp {
    padding-bottom: 0;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20%;
    background-color: $light-grey;
    z-index: -10;
  }

  .wrapper {
    @include mx.sp {
      margin-bottom: 40px;
    }
  }

  .compare-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: $white;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    font-size: 1.8rem;
    border: 1px solid $border-grey;
    margin-bottom: 100px;
    padding-inline: 0;

    @include mx.tb {
      width: 90%;
    }

    @include mx.sp {
      display: block;
      width: 100%;
      overflow-x: auto; 
      -webkit-overflow-scrolling: touch; 
      max-width: 320px;
      font-size: 1.6rem;
    }

    th,
    td {
      padding: 20px 16px;
      border-bottom: 1px solid $border-grey;
      text-align: center;
      vertical-align: middle;

      @include mx.sp {
        white-space: nowrap;
        padding: 16px 10px;
      }
    }

    thead {
      tr {
        border-bottom: 1px solid $border-grey;
      }

      th {
        background-color: $light-grey;
        position: relative;
        height: 80px;

        @include mx.sp {
          height: 50px;
        }

        &:first-child {
          background-color: $white;
          width: 18%;

          @include mx.sp {
            width: 10%;
          }
        }

        &:nth-child(n + 2) {
          width: calc((100% - 18%) / 3);

          @include mx.sp {
            width: calc((100% - 10%) / 3);
          }
        }
      }

      th.pronavi {
        background-color: $yellow;
        border-left: 1px solid $yellow;
        border-right: 1px solid $yellow;
        color: $white;
      }

      th.right {
        border-left: 1px solid $border-grey;
      }

      .school-name {
        font-weight: 700;
        display: block;
      }
    }

    tbody {
      tr:nth-child(even) {
        background-color: $light-grey;
      }

      th[scope="row"] {
        width: 18%;
        font-weight: 400;

        @include mx.sp {
          width: 10%;
          font-size: 1.6rem;
        }
      }

      td {
        width: calc((100% - 18%) / 3);

        @include mx.sp {
          width: calc((100% - 10%) / 3);
        }

        .small {
          display: block;
          font-size: 1.2rem;
          margin-top: 4px;
          line-height: 1.5;
        }
      }

      td.right {
        border-left: 1px solid $border-grey;
      }

      td.pronavi {
        border-right: 2px solid $yellow;
        border-left: 2px solid $yellow;
      }

      tr:last-child {
        .pronavi {
          border-bottom: 2px solid $yellow;
        }
      }
    }
  }

  .cooling-off {
    background-color: $white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 24px 56px;

    .box-inner {
      padding-inline: 15%;

      @include mx.sp {
        padding-inline: 2%;
      }

      .flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 2.4rem;
        margin-bottom: 20px;

        @include mx.sp {
          flex-direction: column;
          align-items: center;
        }

        .text-box {
          width: 50%;
          color: $navy;

          @include mx.sp {
            width: 100%
          }

          .sub {
            margin-bottom: 0;
            color: $navy;
          }

          .label {
            width: 60%;
            background-color: $navy;
            color: $white;
            text-align: center;
            padding: 5px 30px;
            border-radius: 10px;
            margin-top: 5px;

            @include mx.sp {
              width: 100%
            }
          }

          .info {
            font-size: 3rem;
            font-weight: 700;
            margin-bottom: 0;
            letter-spacing: 0.4rem;
            position: relative;
            overflow-x: hidden;

            @include mx.sp {
              font-size: 2.3rem;
            }

            &:before {
              position: absolute;
              bottom: 0;
              left: 0;
              content: "";
              background-color: $yellow;
              width: 310px;
              height: 2px;
            }

            span {
              font-size: 1.4rem;
              margin-right: 5px;
            }
          }

        }

        .icon {
          max-width: 180px;

          @include mx.sp {
            width: 100%;
          }
        }
      }

      small {
        font-size: 1.2rem;
      }
    }
  }
}

#faq {
  padding-block: 80px;
  background-color: $light-grey;

  @include mx.sp {
    padding-block: 40px;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include mx.sp {
      flex-direction: column;
      margin-bottom: 0;
    }

    .flex-left {
      width: 30%;

      @include mx.sp {
        width: 100%;
      }
    }

    .flex-right {
      width: 70%;

      @include mx.sp {
        width: 100%;
      }

      .faq-item {
        border-bottom: 1px solid $border-grey;

        .faq-q {
          width: 100%;
          padding: 24px 16px;
          display: flex;
          align-items: center;
          gap: 24px;
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          text-align: left;
          position: relative;

          .faq-label {
            font-size: 2.4rem;
            font-weight: 700;
            color: $yellow;
            flex-shrink: 0;
          }

          .faq-question {
            font-size: 1.8rem;
            flex: 1;
          }
        }

        .faq-a {
          display: none;
          padding: 24px 16px 32px;
          margin-bottom: 24px;
          border-radius: 10px;
          background-color: $white;
          display: none;

          .a-label {
            font-size: 2.4rem;
            font-weight: 700;
            color: $blue;
            margin-right: 24px;
            float: left;
          }

          .faq-answer {
            font-size: 1.6rem;
            line-height: 1.8;
            margin-left: 56px;
          }
        }
      }
    }
  }
}