@use "./_mixin" as mx;
@use "./base" as *;

.fv {
  width: 100%;
  height: calc(100vh - 72px);
  overflow: hidden;
  position: relative;
  margin-bottom: 80px;

  video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index: -1;
  }

  .title {
    font-size: 5rem;
    font-weight: $fw-bold;

    span {
      display: inline-block;
      background-color: $white;
      padding: 15px;

      &:nth-child(1) {
        position: absolute;
        top: 20px;
        left: 20px;
        border-radius: 20px 20px 20px 0;
      }

      &:nth-child(3) {
        position: absolute;
        top: 100px;
        left: 20px;
        border-radius: 0 0 20px 20px;
      }
    }
  }
}

.purpose {
  margin-bottom: 90px;

  .section-title {
    text-align: center;
    margin-bottom: 50px;

    span {
      display: inline-block;
      font-size: $fs-small;
      position: relative;

      &::before {
        width: 8px;
        height: 8px;
        position: absolute;
        top: 50%;
        left: -14px;
        transform: translateY(-50%);
        content: "";
        background-color: $yellow;
        border-radius: 50%;
      }
    }
  }

  .purpose-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0;

    li {

      a {
        display: flex;
        align-items: center;
        background-color: $white;
        border-radius: 20px;
        box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.25);
        padding: 10px;

        img {
          width: 50px;
          height: 50px;
          margin-right: 10px;
        }

        .box-title {
          span {
            display: block;
            font-size: $fs-small;
          }
        }
      }
    }
  }
}

.before-after {

  .message {
    span {
      color: $yellow;
    }
  }

  .list {
    display: flex;
    justify-content: space-between;

    li {
      position: relative;
      flex: 1;
      background-color: $white;
      box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      padding: 10px 20px;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      img {
        height: 200px;
        object-fit: cover;
        border-radius: 20px;
      }

      .middle {
        span {
          display: block;
          font-size: $fs-small;
        }
      }

      .right {
        text-align: right;
      }

      .arrow {
        width: 50px;
        height: 30px;
        position: absolute;
        left: 10px;
        bottom: 60px;

        img {
          height: 100%;
          object-fit: cover;
        }
      }

      .small {
        text-align: center;
      }
    }
  }
}

.reason {
  .section-title {
    span {
      position: relative;
      display: block;
      font-size: $fs-small;
      margin-top: 10px;
      margin-left: 20px;

      &::before {
        width: 8px;
        height: 8px;
        content: "";
        position: absolute;
        top: 50%;
        left: -14px;
        transform: translateY(-50%);
        background-color: $yellow;
        border-radius: 50%;
      }
    }
  }

  .list {
    margin-top: 50px;

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;

      .left {
        width: 30%;
        margin-right: 15px;
      }

      .right {
        width: 70%;

        .box-title {
          color: $yellow;
        }
      }
    }
  }
}

#flow,
#teacher,
#works,
#comparison,
#faq {
  .section-title {
    margin-bottom: 0
  }

  .section-title,
  span,
  .text,
  .name,
  .words {
    color: $black;
  }

  .section-title-deco {
    font-size: 1.2rem;
    margin-left: 20px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: -15px;
      bottom: 50%;
      transform: translateY(50%);
      width: 8px;
      height: 8px;
      background-color: $yellow;
      border-radius: 50%;
    }
  }

}

#flow {
  background-color: $blue;
  margin-top: 100px;
  padding-block: 60px 40px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

  .section-title,
  span,
  .text-top {
    color: $white;
  }

  ul {
    background-color: $grey;
    border-radius: 8px;
    padding: 32px 24px;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    margin-top: 40px;
    gap: 24px;

    li {
      .card {
        background-color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px 16px;
        border-radius: 8px;

        .middle {
          margin-bottom: 0;
        }

        img {
          width: 80px;
          height: 80px;
        }

      }
    }

  }

  .scroll-divider {
    overflow: hidden;
    background: transparent;


    .scroll-text {
      color: $white;
      font-size: 200px;
      font-weight: 700;
      opacity: 0.08;
      white-space: nowrap;
      animation: marquee 12s linear infinite;
    }
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

#teacher {
  background-color: $blue;
  padding-block: 10px 40px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  .teacher-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin-top: 40px;
    gap: 24px;

  }

  .section-title,
  span,
  .text,
  .name,
  .words {
    color: $white;
  }

}

#works {
  padding-block: 100px;



  .flip-slider__inner {
    perspective: 1000px;

    a {
      display: block;
      padding: 20px;
    }

    .slick-slide {
      padding: 0 20px;

      &:nth-child(odd) {
        padding-top: 40px;
      }

      &:nth-child(even) {
        padding-top: -40px;
      }
    }

  }

  .slider-inner {
    position: relative;
    width: 100%;
    aspect-ratio: 4 / 3;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
    cursor: pointer;

    &:hover {
      transform: rotateY(180deg)
    }

    .front,
    .back {
      position: absolute;
      backface-visibility: hidden;
      border-radius: 10px;
      inset: 0;
      overflow: hidden;

      img {
        height: 100%;
        display: block;
      }
    }

    .back {
      transform: rotateY(180deg);
    }
  }

  .viewmore {
    display: flex;
    flex-direction: row-reverse;


    a {
      display: block;
      padding: 5px 20px;
      border-radius: 50px;
      border: 1px solid $black;

      &:hover {
        background-color: $yellow;
        color: $white;
      }
    }

  }

}

#comparison {
  background-color: $white;
  z-index: 0;
  position: relative;
  padding-bottom: 80px;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20%;
    background-color: $light-grey;
    z-index: -10;
  }

  .compare-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: $white;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    font-size: 1.8rem;
    border: 1px solid $border-grey;
    margin-bottom: 100px;

    th,
    td {
      padding: 20px 16px;
      border-bottom: 1px solid $border-grey;
      text-align: center;
      vertical-align: middle;
    }

    thead {
      tr {
        border-bottom: 1px solid $border-grey;
      }

      th {
        background-color: $light-grey;
        position: relative;
        height: 80px;

        &:first-child {
          background-color: $white;
          width: 18%;
        }

        &:nth-child(n + 2) {
          width: calc((100% - 18%) / 3);
        }
      }

      th.pronavi {
        background-color: $yellow;
        border-left: 1px solid $yellow;
        border-right: 1px solid $yellow;
      }

      th.right {
        border-left: 1px solid $border-grey;
      }

      .school-name {
        font-weight: 700;
        display: block;
      }
    }

    tbody {

      tr:nth-child(even) {
        background-color: $light-grey;
      }

      th[scope="row"] {
        width: 18%;
        font-weight: 400;
      }

      td {
        width: calc((100% - 18%) / 3);

        .small {
          display: block;
          font-size: 1.2rem;
          margin-top: 4px;
          line-height: 1.5;
        }
      }

      td.right {
        border-left: 1px solid $border-grey;
      }

      td.pronavi {
        border-right: 2px solid $yellow;
        border-left: 2px solid $yellow;

      }

      tr:last-child {
        .pronavi {
          border-bottom: 2px solid $yellow;
        }
      }

    }


  }

  .cooling-off {
    background-color: $white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 24px 56px;

    .box-inner {
      padding-inline: 15%;


      .flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 2.4rem;
        margin-bottom: 20px;

        .text-box {
          width: 50%;
          color: $navy;

          .sub {
            margin-bottom: 0;
            color: $navy;
          }

          .label {
            width: 60%;
            background-color: $navy;
            color: $white;
            text-align: center;
            padding: 5px 30px;
            border-radius: 10px;
            margin-top: 5px;
          }

          .info {
            font-size: 3.0rem;
            font-weight: 700;
            margin-bottom: 0;
            letter-spacing: 0.4rem;
            position: relative;

            &:before {
              position: absolute;
              bottom: 0;
              left: 0;
              content: "";
              background-color: $yellow;
              width: 310px;
              height: 2px;

            }

            span {
              font-size: 1.4rem;
              margin-right: 5px;
            }
          }
        }

        .icon {
          max-width: 180px;
        }

      }
    }
  }
}

#faq {
  padding-block: 80px;
  background-color: $light-grey;

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .flex-left {
      width: 30%;
    }

    .flex-right {
      width: 70%;

      .faq-item {
        border-bottom: 1px solid $border-grey;

        .faq-q {
          width: 100%;
          padding: 24px 16px;
          display: flex;
          align-items: center;
          gap: 24px;
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          text-align: left;
          position: relative;

          .faq-label {
            font-size: 2.4rem;
            font-weight: 700;
            color: $yellow;
            flex-shrink: 0;
          }

          .faq-question {
            font-size: 1.8rem;
            flex: 1;
          }
        }

        .faq-a {
          display: none;
          padding: 24px 16px 32px;
          margin-bottom: 24px;
          border-radius: 10px;
          background-color: $white;
          display: none;

          .a-label {
            font-size: 2.4rem;
            font-weight: 700;
            color: $blue;
            margin-right: 24px;
            float: left;
          }

          .faq-answer {
            font-size: 1.6rem;
            line-height: 1.8;
            margin-left: 56px; 
          }
        }
      }
    }
  }
}