@use "./_mixin" as mx;
@use "./base" as *;

.voice {
  header {
    background-color: transparent;
  }

  #fv {
    position: relative;
    margin-top: 130px;

    @include mx.sp {
      margin-top: 50px;
    }

    .section-title__en {
      font-size: 150px;
      font-weight: 900;
      color: $light-grey;
      position: absolute;
      left: -10px;
      bottom: -100px;
      z-index: 0;

      @include mx.tb {
        left: 30px;
      }
      @include mx.sp-650 {
        font-size: 100px;
      }
      @include mx.sp {
        font-size: 80px;
        left: 10px;
        bottom: -50px;
      }
    }

    .section-title {
      color: $black;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 150px;
        height: 2px;
        background-color: $yellow;
        border-radius: 2px;

        @include mx.tb {
          left: 1%;
        }
      }
    }
  }

  .voices {
    margin-block: 100px 150px;
    @include mx.sp {
      margin-block: 80px;
    }

    .wrapper {
      margin-bottom: 0px;

      @include mx.sp-650 {
        padding-inline: 15px;
      }
    }

    .list {
      display: flex;
      justify-content: space-between;
      margin-inline: auto;
      padding: 0;

      @include mx.tb {
        flex-direction: column;
      }

      @include mx.sp {
        width: 100%;
      }

      li {
        position: relative;
        flex: 1;
        background-color: $white;
        box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 10px 15px;
        margin-right: 20px;

        @include mx.tb {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-right: 0;
          margin-bottom: 20px;
        }

        &:last-child {
          margin-right: 0;
        }

        img {
          height: 200px;
          object-fit: cover;
          border-radius: 5px;

          @include mx.tb {
            width: 50%;
            // height: auto;
          }
        }

        .text-right {
          @include mx.tb {
            margin-left: 15px;
          }

          .text-1 {
            font-size: $fs-small;
          }

          .text-1,
          .text-2 {
            border-bottom: 0.8px solid $yellow;
            padding-bottom: 15px;
          }

          .small {
            text-align: center;

            @include mx.tb {
              text-align: right;
            }
          }
        }
      }
    }
  }

  .meetup-section {
    height: calc(400vh);
    position: relative;
    color: $white;
    padding-top: 350px;

    @include mx.tb {
      padding-top: 350px;
    }

    .wrapper {
      height: 70vh;
      position: sticky;
      top: 50%;
      transform: translateY(-50%);
      overflow: hidden;
      background-color: $blue;
      border-radius: 20px;
      padding-inline: 100px;

      @include mx.tb {
        height: 90vh;
        padding-inline: 30px;
        margin-inline: 20px;
      }
    }

    .meetups {
      width: 100%;
      height: 100%;
      position: relative;

      .meetup {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 0;
        transform: translateY(40px);
        transition: opacity 0.7s ease, transform 0.7s ease;
        padding: 40px 0;

        @include mx.tb {
          flex-direction: column;
        }

        &.active {
          opacity: 1;
          transform: translateY(0);
        }

        .left {
          width: 30%;
          margin-right: 20px;

          @include mx.tb {
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
          }

          @include mx.sp {
            flex-direction: column;
          }

          .section-title {
            margin: 0 0 10px 0;

            .yellow {
              display: block;
              font-size: 3.5rem;

              @include mx.tb {
                font-size: 3rem;
              }
            }

            .small {
              position: relative;
              display: block;
              font-size: $fs-small;
              margin-top: 10px;
              margin-left: 20px;

              &::before {
                width: 8px;
                height: 8px;
                content: "";
                position: absolute;
                top: 50%;
                left: -14px;
                transform: translateY(-50%);
                background-color: $yellow;
                border-radius: 50%;
              }
            }
          }

          .comment {
            width: 90%;
            color: $black;
            background: $light-grey;
            border-radius: 20px;
            position: relative;
            padding: 15px 20px;
            margin-inline: auto;

            &::after {
              content: "";
              position: absolute;
              right: -53px;
              bottom: 30px;
              border: 15px solid transparent;
              border-left: 50px solid $light-grey;
              transform: rotate(-20deg);

              @include mx.tb {
                transform: rotate(100deg);
                right: 50px;
                bottom: -30px;
              }
            }

            dd {
              text-align: right;
              font-size: $fs-small;
              margin-left: auto;
            }
          }
        }

        .right {
          width: 60%;
          position: relative;

          @include mx.tb {
            width: 90%;
            margin-inline: auto;
          }

          img {
            object-fit: cover;
            border-radius: 5px;
            box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.25);
          }

          .scroll-meter {
            width: 2px;
            height: 200px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -30px;
            background-color: #fff;
            border-radius: 3px;
            overflow: hidden;

            @include mx.tb {
              height: 150px;
            }

            @include mx.sp {
              height: 100px;
            }

            .fill {
              height: 0%;
              background-color: $yellow;
              transition: 0.2s ease;
            }
          }
        }
      }
    }
  }

  .metaleaf {
    height: 780px;
    margin-top: -200px;
    margin-bottom: 100px;

    @include mx.tb-1100 {
      height: 750px;
    }

    @include mx.tb {
      margin-top: -300px;
      margin-bottom: 300px;
    }

    @include mx.sp-650 {
      margin-bottom: 100px;
    }

    @include mx.sp {
      margin-bottom: 50px;
    }

    .wrapper {
      height: 100%;
      display: flex;
      justify-content: space-between;

      @include mx.tb-1100 {
        padding-inline: 15px;
      }

      @include mx.tb {
        flex-direction: column;
      }

      .left {
        width: 30%;

        @include mx.tb {
          width: 100%;
        }

        .section-title {
          span {
            position: relative;
            display: block;
            font-size: $fs-small;
            margin-top: 10px;
            margin-left: 20px;

            &::before {
              width: 8px;
              height: 8px;
              content: "";
              position: absolute;
              top: 50%;
              left: -14px;
              transform: translateY(-50%);
              background-color: $yellow;
              border-radius: 50%;
            }
          }
        }
        p {
          span {
            display: block;
            font-size: $fs-small;
            margin-top: 20px;
          }
        }
        .btn {
          display: inline-block;
          color: $white;
          border-radius: 50px;
          border: 1px solid $white;
          background: $yellow;
          transition: all 0.5s ease;
          padding: 5px 20px;
          margin-top: 30px;

          &:hover {
            background-color: $white;
            border: 1px solid $yellow;
            color: $yellow;
          }
        }
      }

      .list {
        width: 70%;
        height: 100%;
        position: relative;

        @include mx.tb {
          width: 100%;
        }

        li {
          position: absolute;

          &:nth-child(1) {
            width: 38%;
            top: 2%;
            right: 25%;

            @include mx.tb {
              width: 45%;
              top: -20%;
              right: 15%;
            }

            @include mx.sp-650 {
              right: 0;
            }
          }

          &:nth-child(2) {
            width: 30%;
            top: 25%;
            left: 3%;

            @include mx.tb {
              top: 15%;
            }

            @include mx.sp-650 {
              left: 10%;
              top: 5%;
            }
          }

          &:nth-child(3) {
            width: 50%;
            right: 5%;
            bottom: -5%;

            @include mx.tb {
              bottom: -95%;
            }

            @include mx.sp-650 {
              bottom: -50%;
            }

            @include mx.sp {
              right: 5%;
              bottom: -25%;
            }
          }

          &:nth-child(4) {
            width: 40%;
            top: 33%;
            right: 0;

            @include mx.tb {
              top: 50%;
            }

            @include mx.sp-650 {
              top: 35%;
            }

            @include mx.sp {
              top: 30%;
            }
          }

          &:nth-child(5) {
            width: 40%;
            left: -5%;
            bottom: 0;

            @include mx.tb {
              width: 35%;
              left: 0;
              bottom: -55%;
            }

            @include mx.sp-650 {
              bottom: -30%;
            }

            @include mx.sp {
              left: 2%;
              bottom: -15%;
            }
          }

          &:nth-child(6) {
            width: 15%;
            top: 40%;
            left: 38%;

            @include mx.tb {
              top: 50%;
              left: 40%;
            }

            @include mx.sp {
              top: 35%;
            }

            img {
              box-shadow: none;
            }
          }

          img {
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.25);
          }

          .text {
            font-size: $fw-medium;
            font-weight: bold;

            span {
              display: block;
              font-size: $fs-small;
              font-weight: normal;
              color: $border-grey;
            }
          }
        }
      }
    }
  }

  .hackathon {
    width: 100%;
    height: auto;
    background-color: $blue;
    color: $white;
    overflow: hidden;

    @include mx.tb {
      height: auto;
      background-color: transparent;
      color: $black;
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;

      @include mx.tb {
        flex-direction: column;
        padding-inline: 40px;
      }

      .left {
        width: 45%;
        margin-right: 20px;

        @include mx.tb {
          width: 100%;
          margin-right: 0;
          margin-bottom: 50px;
        }

        .section-title {
          margin-top: 100px;

          @include mx.sp {
            margin-top: 50px;
          }

          span {
            position: relative;
            display: block;
            font-size: $fs-small;
            margin-top: 10px;
            margin-left: 20px;

            &::before {
              width: 8px;
              height: 8px;
              content: "";
              position: absolute;
              top: 50%;
              left: -14px;
              transform: translateY(-50%);
              background-color: $yellow;
              border-radius: 50%;
            }
          }
        }

        .text {
          margin-bottom: 50px;

          span {
            display: block;
            margin-top: 20px;
          }
        }

        .btn {
          display: inline-block;
          color: $white;
          border-radius: 50px;
          border: 1px solid $white;
          background: $yellow;
          transition: 0.4s ease;
          padding: 5px 20px;
          transition: all 0.5s ease;

          &:hover {
            background-color: $white;
            border: 1px solid $yellow;
            color: $yellow;
          }
        }
      }

      .slider-container {
        width: 55%;
        display: flex;

        @include mx.tb {
          width: 100%;
          height: 100%;
          background: $blue;
          border-radius: 20px;
        }

        .vertical-slider {
          width: 50%;
          height: 100%;
          overflow: hidden;

          @include mx.tb {
            width: 40%;
            margin-inline: auto;
          }

          &:last-child {
            margin-left: 20px;
          }

          img {
            width: 100%;
            display: block;
            object-fit: cover;
            margin-bottom: 20px;
          }
        }

        .slider-down {
          transform: rotate(180deg) !important;

          img {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
