@charset "UTF-8";
@use'./_mixin.scss' as mx;

$green:;
$blue:;
$black:;
$white:;

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    letter-spacing: 0.16rem;
    color: $black;
    background-color: $white;
    overflow-x: hidden;
}

h2 {
    font-family: "Titan One", sans-serif;
    font-size: 4rem;
    font-weight: 400;

    @include mx.tb {
        font-size: 3rem;
    }

    @include mx.sp {
        font-size: 2.4rem;
    }
}

p {
    font-family: "Raleway", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $black;
    display: inline-block;
    font-family:;
}

img {
    width: 100%;
    vertical-align: bottom;
    object-fit: cover;
}

.wrapper {
    max-width: px;
    margin-inline: auto;
    padding-inline: 20px;
}
